.header__logo {
  width: 176px;
  height: 52px;
  align-self: flex-start;
  left: 48px;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
    left: 16px;
  }  
}