.footer__copyright {
    width: 186px;
    height: 16px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
/* identical to box height, or 114% */
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        align-self: auto;
    }
}